@use 'variables' as var;
@use 'mixins';
@use 'gallery';



.modal {
    &__gallery-background {
        background-color: var.$Black75;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 157%;
        z-index: 2;
        display: none;
        // display: grid;
        place-items: center;
    }

    &__gallery-close-container {
        width: 440px;
        text-align: right;
        padding-bottom: 24px;
    }

    &__gallery-close {
        cursor: pointer;
        &:hover {
            content: url('../images/icon-close-o.svg');
        }
    }

    &__gallery-container {
        background-image: url('../images/image-product-1.jpg');
        background-size: cover;
        width: 440px;
        height: 440px;
        border-radius: 16px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__gallery-previous, &__gallery-next {
        background-color: var.$White;
        width: 50px;
        border-radius: 50%;
        padding: 20px;
    }

    &__gallery-previous {
        margin-left: -25px;
        &:hover {
            cursor: pointer;
            content: url('../images/icon-previous-o.svg');
        }
    }

    &__gallery-next {
        margin-right: -25px;
        &:hover {
            cursor: pointer;
            content: url('../images/icon-next-o.svg');
        }
    }

    &__gallery-thumbnails {
        width: 440px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
    }

    &__gallery-thumbnail {
        width: 90px;
        height: 90px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            border: 2px solid var.$Orange;
        }
    }


}

